<div class="main-container">
  <div class="navbar-container">
    <div class="logo-container">
      <img class="logo" src="/assets/UJOBSV1.png" alt="logo">
    </div>
    <div class="menu">
      <a href="#">About</a>
      <a href="#">Politics</a>
      <a href="/accounts/selectRole">Register now</a>
    </div>
    <div class="hamburger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <div class="bg-container">
    <div class="split-container">
      <!-- Left Container for Login Form -->
      <div class="left-container">
        <div class="form-container">
          <mat-card class="custom-card">
            <mat-card-content>
              <h1 class="welcome-text">Welcome to your professional community</h1>
              <form>
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" id="email" name="email" [(ngModel)]="email" spellcheck="false" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" id="password" name="password" [(ngModel)]="password" spellcheck="false" required>
                </mat-form-field>
                <button mat-flat-button color="accent" type="submit" (click)="login()">Submit</button>
              </form>
              <p class="register-text">Don't have an account yet? <a routerLink="/accounts/selectRole">Sign up now</a></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- Right Container for Image -->
      <div class="right-container">
        <img class="background-image" src="/assets/AAYQAgSrAAgAAQAAAAAAAEFQ0SVTwDSXRqWvckCS4gYqEA.svg" alt="background image">
      </div>
    </div>
  </div>
</div>
