



/* Estilos para el Navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #3498db;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease, font-size 0.3s ease;
  border-radius: 20px;
}

.menu a:hover {
  color: #ecf0f1;
  font-size: 18px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

/* Estilos para el contenido principal */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ecf0f1;
}
.split-container {
  display: flex;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-container {
  flex: 1;
  padding: 20px;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {

}

/* Estilos adicionales para elementos del formulario */
.custom-card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  color: #3498db;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-top: 15px;
  transition: transform 0.2s ease;
  border: none;
}

button:hover {
  transform: scale(1.05);
}

.register-text {
  color: #555;
  text-align: center;
}

/* Regla de medios para dispositivos móviles */
@media (max-width: 768px) {
  .right-container {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .hamburger-icon:hover {
    background-color: #2980b9;
  }

  .bg-container {
    margin-top: 60px;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #3498db;
    z-index: 1;
  }

  .menu.active a {
    margin: 10px;
  }
}
